@{
    Layout = null;
    string guid = System.Guid.NewGuid().ToString().Replace("-", ""),
    TabstripVehiculosFlotas = "TabstripVehiculosFlotas_" + guid,
    Input_Placa = "Input_Placa_" + guid,
    Input_Nombre = "Input_Nombre_" + guid,
    Input_Marca = "Input_Marca_" + guid,
    Input_Modelo = "Input_Modelo_" + guid,
    DropDown_Flota = "DropDown_Flota_" + guid,
    Input_KmXGalon = "Input_KmXGalon_" + guid,
    Input_CapacidadTanque = "Input_CapacidadTanque_" + guid,
    DropDown_Gasolina = "DropDown_Gasolina_" + guid,
    Input_Vin = "Input_Vin_" + guid,
    DropDown_CentroCosto = "DropDown_CentroCosto_" + guid,
    BTN_Registrar_Vehiculo = "BTN_Registrar_Vehiculo_" + guid,
    DateTime_FechaIni_Vehiculo = "DateTime_FechaIni_Vehiculo_" + guid,
    DateTime_FechaFin_Vehiculo = "DateTime_FechaFin_Vehiculo_" + guid,
    BTN_ReloadGRID_Vehiculo = "BTN_ReloadGRID_Vehiculo_" + guid,
    GRID_Vehiculos = "GRID_Vehiculos_" + guid,
    Input_Flota = "Input_Flota_" + guid,
    BTN_AgregarFlota = "BTN_AgregarFlota_" + guid,
    GRID_Flotas = "GRID_Flotas_" + guid,
    ModalEditarFlota = "ModalEditarFlota_" + guid,
    TXT_NombreFlota_ModalEditarFlota = "TXT_NombreFlota_Modal_Editar_Flota_" + guid,
    Input_Flota_ModalEditarFlota = "Input_Flota_ModalEditarFlota" + guid,
    ModalAlert_ModalEditarFlota = "ModalAlert_ModalEditarFlota_" + guid,
    BTN_GuardarCambios_ModalEditarFlota = "BTN_GuardarCambios_ModalEditarFlota_" + guid,
    ModalAgregarFlota = "ModalAgregarFlota_" + guid,
    Input_Flota_ModalAgregarFlota = "Input_Flota_ModalAgregarFlota_" + guid,
    ModalAlert_ModalAgregarFlota = "ModalAlert_ModalAgregarFlota_" + guid,
    BTN_AgregarFlota_ModalAgregarFlota = "BTN_AgregarFlota_ModalAgregarFlota_" + guid,
    ModalAgregarCentroCosto = "ModalAgregarCentroCosto_" + guid,
    Input_CentroCosto_ModalAgregarCentroCosto = "Input_CentroCosto_ModalAgregarCentroCosto_" + guid,
    ModalAlert_ModalAgregarCentroCosto = "ModalAlert_ModalAgregarCentroCosto_" + guid,
    BTN_AgregarCentroCosto_ModalAgregarCentroCosto = "BTN_AgregarCentroCosto_ModalAgregarCentroCosto_" + guid,
    ModalEditarVehiculo = "ModalEditarVehiculo_" + guid,
    TXT_NombrePlacaVehiculo_ModalEditarVehiculo = "TXT_NombrePlacaVehiculo_ModalEditarVehiculo_" + guid,
    Input_Placa_ModalEditarVehiculo = "Input_Placa_ModalEditarVehiculo_" + guid,
    Input_Nombre_ModalEditarVehiculo = "Input_Nombre_ModalEditarVehiculo_" + guid,
    DropDown_Flota_ModalEditarVehiculo = "DropDown_Flota_ModalEditarVehiculo_" + guid,
    Input_Marca_ModalEditarVehiculo = "Input_Marca_ModalEditarVehiculo_" + guid,
    Input_Modelo_ModalEditarVehiculo = "Input_Modelo_ModalEditarVehiculo_" + guid,
    Input_KmxGal_ModalEditarVehiculo = "Input_KmxGal_ModalEditarVehiculo_" + guid,
    Input_CapTan_ModalEditarVehiculo = "Input_CapTan_ModalEditarVehiculo_" + guid,
    DropDown_Gasolina_ModalEditarVehiculo = "DropDown_Gasolina_ModalEditarVehiculo_" + guid,
    Input_VIN_ModalEditarVehiculo = "Input_VIN_ModalEditarVehiculo_" + guid,
    ModalAlert_ModalEditarVehiculo = "ModalAlert_ModalEditarVehiculo_" + guid,
    BTN_GuardarCambios_ModalEditarVehiculo = "BTN_GuardarCambios_ModalEditarVehiculo_" + guid;
}
<section>
    <div id="@{@TabstripVehiculosFlotas}">
        <ul>
            <li class="k-state-active">
                Registro de vehículo
            </li>
            <li >
                Registro de SubFlotas
            </li>
        </ul>
        <div class="card">
            <div class="container-fluid card p-lg-3 p-2">
                <form class="row">
                    <div class="col-lg-12">
                        <h2 class="text-center">Registo de vehículo</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="">Placa<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="@{@Input_Placa}" style="text-transform:uppercase" />

                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="">Nombre<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="@{@Input_Nombre}" />

                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="">Marca</label>
                                <input type="text" id="@{@Input_Marca}" class="form-control" />

                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="">Modelo</label>
                                <input type="text" class="form-control" id="@{@Input_Modelo}" />

                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="">Seleccione la flota del vehículo<span class="text-danger">*</span></label>
                                <div class="container-fluid p-0">
                                    <div class="row">
                                        <div class="col-lg-10 ">
                                            <input id="@{@DropDown_Flota}" class="w-100" />
                                        </div>
                                        <div class="col-lg-2 mt-4 mt-3 mt-lg-0">
                                            <div class="bg-success w-100 rounded d-flex justify-content-center align-items-center " style="cursor: pointer;" id="btn_nuevaFlota">
                                                <span class="d-sm-block d-md-none me-1 me-lg-0 text-light">Agregar una flota nueva</span>
                                                <i class="bi bi-plus-circle text-light fs-5"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="">Kilometros por galón</label>
                                <input type="text" class="form-control" id="@{@Input_KmXGalon}" />

                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="">Capacidad de tanque</label>
                                <input type="text" class="form-control" id="@{@Input_CapacidadTanque}" />

                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="">Tipo de combustible</label>
                                <input id="@{@DropDown_Gasolina}" class="" />

                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="">VIN</label>
                                <input type="text" class="form-control" id="@{@Input_Vin}" style="text-transform:uppercase" />

                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="">Seleccione el centro de costo del vehículo<span class="text-danger">*</span></label>
                                <div class="container-fluid p-0">
                                    <div class="row">
                                        <div class="col-lg-10 ">
                                            <input id="@{@DropDown_CentroCosto}" class="w-100" />
                                        </div>
                                        <div class="col-lg-2 mt-4 mt-3 mt-lg-0">
                                            <div class="bg-success w-100 rounded d-flex justify-content-center align-items-center " style="cursor: pointer;" id="btn_nuevoCentroCosto">
                                                <span class="d-sm-block d-md-none me-1 me-lg-0 text-light">Agregar un centro de costo</span>
                                                <i class="bi bi-plus-circle text-light fs-5"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-12 offset-lg-3">
                            <input type="button" class="btn btn-success w-100" id="@{@BTN_Registrar_Vehiculo}" value="Registrar vehículo" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="container-fluid card mt-lg-5 p-lg-5">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-center">Vehículos de la Compañia</h2>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-4 col-12 d-flex  align-items-center ps-lg-5 ">
                        <h4 class="w-50 ps-2 ps-lg-5 text-start text-lg-center">Fecha inicio:</h4>
                        <input id="@{@DateTime_FechaIni_Vehiculo}" class="w-50 me-2 me-lg-0" />
                    </div>
                    <div class="col-lg-4  offset-lg-2 col-12 offset-sm-0 d-flex  align-items-center ps-lg-5">
                        <h4 class="w-50 ps-2 ps-lg-5 text-start text-lg-center">Fecha fin:</h4>
                        <input id="@{@DateTime_FechaFin_Vehiculo}" class="w-50 me-2 me-lg-0" />
                    </div>
                    <div class="col-lg-2 offset-lg-0 col-10 offset-1 d-flex  align-items-center mt-2 mt-lg-0">
                        <input class="ms-lg-3 btn btn-success w-100" id="@{@BTN_ReloadGRID_Vehiculo}" type="button" value="Generar" />
                    </div>
                </div>
                <div class="row">
                    <div id="@{@GRID_Vehiculos}">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="container-fluid card p-lg-3 p-2">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-center"> Registro de Subflotas</h2>
                    </div>
                </div>
                <div class="row mt-lg-2">
                    <div class="form-outline col-12 col-lg-8">
                        <label class="form-label" for="">Ingrese el nomnbre de la subflota<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="@{@Input_Flota}" />
                    </div>
                    <div class="form-outline col-12 col-lg-4 mt-3 mt-lg-0 d-flex align-items-end">
                        <input type="button" id="@{@BTN_AgregarFlota}" class="btn btn-success w-100" value="Registrar Flota" />
                    </div>
                </div>
            </div>

            <div class="container-fluid card p-lg-3 p-2">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center">Subflotas de la compañia</h2>
                    </div>
                </div>
                <div class="row mt-lg-2 mt-3">
                    <div class="col-lg-12">
                        <div id="@{@GRID_Flotas}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="@{@ModalEditarFlota}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <i class="bi bi-pencil-square"> </i>
                    <h5 class="modal-title" @*id="@{@TXT_NombreFlota_ModalEditarFlota}"*@>Modificar nombre de Sub FLota</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   <div class="container-fluid">
                       <div class="row">
                            <span>Ingrese el nuevo nombre de la Sub Flota</span>
                       </div>
                       <div class="row pt-lg-2">
                           <div class="col-lg-12">
                               <input type="text" id="@{@Input_Flota_ModalEditarFlota}" class="form-control"/>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-lg-12 mt-lg-1">
                               <span id="@{@ModalAlert_ModalEditarFlota}"></span>
                           </div>
                       </div>
                   </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn btn-success" id="@{@BTN_GuardarCambios_ModalEditarFlota}"><i class="bi bi-floppy"></i> Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>
    <div id="@{@ModalAgregarFlota}" class="modal fade">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="bi bi-truck"></i> Registro de Flotas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @*@await Html.PartialAsync("~/Views/adVehiculosFlotas/Partials/adAgregarFlotas.cshtml")*@
                    <div class="container-fluid">
                        <div class="row">
                            <div>
                                <label class="form-label" for="">Ingrese el nombre de la Flota</label>
                            </div>
                            <div class="form-outline col-12">

                                <input type="text" class="form-control" id="@{@Input_Flota_ModalAgregarFlota}" />
                            </div>
                        </div>
                        <div class="row">
                            <span id="@{@ModalAlert_ModalAgregarFlota}" class="mt-1"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="@{@BTN_AgregarFlota_ModalAgregarFlota}">Registrar Flota</button>
                </div>
            </div>
        </div>
    </div>
    <div id="@{@ModalAgregarCentroCosto}" class="modal fade">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="bi bi-house"></i> Registro de Centros de Costo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <label>Ingrese el nombre del Centro de Costo </label>
                        <input class="form-control mt-2 " id="@{@Input_CentroCosto_ModalAgregarCentroCosto}"/>
                        <div class="row">
                            <span id="@{@ModalAlert_ModalAgregarCentroCosto}" class="mt-1"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="@{@BTN_AgregarCentroCosto_ModalAgregarCentroCosto}">Registrar Flota</button>
                </div>
            </div>
        </div>
    </div>
    <div id="@{@ModalEditarVehiculo}" class="modal fade">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" ><i class="bi bi-pencil-square"></i> Edicion de Vehículos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid"> 
                        <div class="row">
                            <div class="col-lg-12 d-flex justify-content-center align-items-center">
                                <i class="bi bi-car-front me-2"></i> <span id="@{@TXT_NombrePlacaVehiculo_ModalEditarVehiculo}"> </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Placa</label>
                                <input id="@{@Input_Placa_ModalEditarVehiculo}" class="form-control text-uppercase" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <label>Nombre</label>
                                <input id="@{@Input_Nombre_ModalEditarVehiculo}" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <label>Flota</label>
                                <input id="@{@DropDown_Flota_ModalEditarVehiculo}" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <label>Marca</label>
                                <input id="@{@Input_Marca_ModalEditarVehiculo}" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <label>Modelo</label>
                                <input id="@{@Input_Modelo_ModalEditarVehiculo}" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <label>Kilómetros por galón</label>
                                <input id="@{@Input_KmxGal_ModalEditarVehiculo}" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <label>Capacidad tanque</label>
                                <input id="@{@Input_CapTan_ModalEditarVehiculo}" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <label>Seleccione el tipo de Combustible</label>
                                <input id="@{@DropDown_Gasolina_ModalEditarVehiculo}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Número de VIN</label>
                                <input id="@{@Input_VIN_ModalEditarVehiculo}" class="form-control text-uppercase" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 mt-lg-1">
                                <span id="@{@ModalAlert_ModalEditarVehiculo}"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success" id="@{@BTN_GuardarCambios_ModalEditarVehiculo}" disabled> <i class="bi bi-floppy-fill"></i> Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
</section>
<style type="text/css">
    .k-picker {
        height:37px;
    }

    #btn_nuevaFlota, #btn_nuevoCentroCosto {
        height: 35px;
    }

    .k-tabstrip > .k-content {
        background: #f6f9ff;
    }

    .k-grid-Editar {
        background: #198754;
        color: white;
    }

        .k-grid-Editar:hover {
            background: #157347;
        }

    .k-grid-Eliminar {
        background: #dc3545;
        color: white;
    }

        .k-grid-Eliminar:hover {
            background: #bb2d3b;
            color: white;
        }

    .col-data {
        width: 150px;
    }
    .col-command {
        text-align: center !important;
        width: 170px;
    }

    .col-command-2 {
        text-align: center !important;
        width: 200px;
    }
    .subgrid-titles {
        font-weight: bold !important;
    }
    @@media screen and (max-width: 576px) {
        .col-command {
            width: 195px;
        }
    }

    @@media (min-width: 768px) and (max-width: 991.98px) {
        /* Tus estilos aquí */
        .col-command {
            width: 195px;
        }
    }
</style>
<script>
    (function () {
        $.extend({
            ModuloVehiculosFlotas: {
                tabstrip: function () {//Función para inicializar el tabstrip
                    $("#@{@TabstripVehiculosFlotas}").kendoTabStrip({
                        animation: {
                            open: {
                                effects: "fadeIn"
                            }
                        },
                    });
                },
                vehiculo: {// Funciones para la administración de vehiculos
                    DropDowns: {
                        loadDropDowns: function () {//Funcion para inicializar los dropdown

                            var _this = this

                            $("#@{@DropDown_Gasolina}").kendoDropDownList({
                                optionLabel: 'Seleccione un tipo de gasolina',
                                dataTextField: "tipoCombustible",
                                dataValueField: "combustibleMobileID",
                                theme: "black"
                            });

                            $("#@{@DropDown_Flota}").kendoDropDownList({
                                filter: "contains",
                                optionLabel: 'Seleccione la flota',
                                dataTextField: "nombreSubfleet",
                                dataValueField: "subfleetID"
                            });

                            $("#@{@DropDown_CentroCosto}").kendoDropDownList({
                                filter: "contains",
                                optionLabel: 'Seleccione el centro de costo',
                                dataTextField: "nombreCentroCosto",
                                dataValueField: "centroCostoID"
                            });

                            $("#@{@DropDown_Flota_ModalEditarVehiculo}").kendoDropDownList({
                                filter: "contains",
                                dataTextField: "nombreSubfleet",
                                dataValueField: "subfleetID",
                                change: function () {
                                    $.ModuloVehiculosFlotas.vehiculo.ActualizarVehiculo.activarButton()
                                }
                            });

                            $("#@{@DropDown_Gasolina_ModalEditarVehiculo}").kendoDropDownList({
                                optionLabel: 'Seleccione un tipo de gasolina',
                                dataTextField: "tipoCombustible",
                                dataValueField: "combustibleMobileID",
                                change: function () {
                                    
                                    $.ModuloVehiculosFlotas.vehiculo.ActualizarVehiculo.activarButton()
                                }
                            });
                            _this.DataDropDowns()

                        },
                        DataDropDowns: function () {//Función para obtener la data de los dropdown
                            $.get('@Url.Action("obtenerTipoCombustible", "adVehiculosFlotas")', function (GAS) {
                                $("#@{@DropDown_Gasolina}").data("kendoDropDownList").dataSource.data(GAS);
                                $("#@{@DropDown_Gasolina_ModalEditarVehiculo}").data("kendoDropDownList").dataSource.data(GAS);
                            })

                            $.get('@Url.Action("obtenerFlotas", "adVehiculosFlotas")', function (flotas) {
                                $("#@{@DropDown_Flota}").data("kendoDropDownList").dataSource.data(flotas);
                                $("#@{@DropDown_Flota_ModalEditarVehiculo}").data("kendoDropDownList").dataSource.data(flotas);
                            })

                            $.get('@Url.Action("ObtenerCentrosCosto", "adVehiculosFlotas")', function (centrosCosto) {
                                /*$("#Drop_Flota").data("kendoDropDownList").dataSource.data(flotas);
                                $("#DropDown_FlotaModal").data("kendoDropDownList").dataSource.data(flotas);*/
                                
                                $("#@{@DropDown_CentroCosto}").data("kendoDropDownList").dataSource.data(centrosCosto);
                            })
                        }
                    },
                    GRID: {
                        loadGrid: function () {//Función para inicializar los TimePicker y el GRID
                            var _this = this;
                            $("#@{@DateTime_FechaIni_Vehiculo}").kendoDateTimePicker({ //Se inicializa el time picker de fecha inicio
                                dateInput: true,
                                startTime: new Date(2023, 1, 3, 8, 30, 0),
                                endTime: new Date(2023, 1, 3, 17,00, 0),
                            });
                            /*Se coloca la fecha al timepicker de fecha inicio*/
                            $("#@{@DateTime_FechaIni_Vehiculo}").data("kendoDateTimePicker").value(kendo.parseDate(moment().subtract(30, 'days').format("YYYY/MM/DD HH:mm:ss")));


                            $("#@{@DateTime_FechaFin_Vehiculo}").kendoDateTimePicker({ //Se inicializa el time picker de fecha Fin
                                dateInput: true,
                                startTime: new Date(2023, 1, 3, 8, 30, 0),
                                endTime: new Date(2023, 1, 3, 17,00, 0),
                            });

                            /*Se coloca la fecha al timepicker de fecha fin*/
                            $("#@{@DateTime_FechaFin_Vehiculo}").data("kendoDateTimePicker").value(kendo.parseDate(moment().format("YYYY/MM/DD HH:mm:ss")));

                            $("#@{@GRID_Vehiculos}").html(""); //Se limpia el contenerdor para el GRID
                            $("#@{@GRID_Vehiculos}").kendoGrid({ // Se inicializa el GRID
                                dataSource: {
                                    pageSize: 10
                                },
                                toolbar: ["excel", "search"],//Se configura el toolbar del GRID
                                columns: [
                                    
                                    {
                                        field: "nombreSubfleet",
                                        title: "<b>Subflota</b>",
                                        width: "100px",
                                        attributes: { class: "col-data" },//Se especifica la clase que define el estilo de la col
                                        headerAttributes: { class: "col-data" }//Se especifica la clase que define el estilo de la col
                                    },
                                    {
                                        field: "nombre",
                                        title: "<b>Nombre</b>",
                                        width: "100px",
                                        attributes: { class: "col-data" },
                                        headerAttributes: { class: "col-data" }
                                    },
                                    {
                                        field: "placa",
                                        title: "<b>Placa</b>",
                                        width: "100px",
                                        attributes: { class: "col-data" },
                                        headerAttributes: { class: "col-data" }
                                    },
                                    {
                                        field: "marca",
                                        title: "<b>Marca</b>",
                                        width: "100px",
                                        attributes: { class: "col-data" },
                                        headerAttributes: { class: "col-data" }
                                    },
                                    {
                                        field: "modelo",
                                        title: "<b>Modelo</b>",
                                        width: "100px",
                                        attributes: { class: "col-data" },
                                        headerAttributes: { class: "col-data" }
                                    },
                                    {
                                        field: "fechaCreacion",
                                        title: "<b>Fecha de Creación</b>",
                                        width: "150px",
                                        attributes: { class: "col-data" },
                                        headerAttributes: { class: "col-data" }
                                    },
                                    {
                                        field: "kmXGalon",
                                        title: "<b>Km. por Gal.</b>",
                                        width: "100px",
                                        attributes: { class: "col-data" },
                                        headerAttributes: { class: "col-data" }
                                    },
                                    {
                                        field: "capacidadTanque",
                                        title: "<b>Cap. Tanque</b>",
                                        width: "100px",
                                        attributes: { class: "col-data" },
                                        headerAttributes: { class: "col-data" }
                                    },
                                    {
                                        field: "tipoCombustible",
                                        title: "<b>Tipo Combustible</b>",
                                        width: "100px",
                                        attributes: { class: "col-data" },
                                        headerAttributes: { class: "col-data" }
                                    },
                                    {
                                        field: "vin",
                                        title: "<b>VIN</b>",
                                        width: "100px",
                                        attributes: { class: "col-data" },
                                        headerAttributes: { class: "col-data" }
                                    },
                                    {
                                        command: [//Este tipo de columna permite la mostrar botones con comandos como eliminar o editar
                                            {
                                                name: "Editar",//Se especifica el nombre del comando 
                                                text: '<span> <i class="bi bi-pencil-square"></i> Editar </span>',//Se especifica el texto que se mostrara en el boton
                                                click: function (e) {// función que se ejecutará al dar clic en el boton
                                                    e.preventDefault();//Se evita la función por defecto
                                                    var tr = $(e.target).closest("tr"); //Se obtiene la fila
                                                    var data = this.dataItem(tr);//Se obtiene la data
                                                    //console.log(data)

                                                    /*Se configura la data que se moestrara en el modal */
                                                    $("#@{@TXT_NombrePlacaVehiculo_ModalEditarVehiculo}").text(data.nombre + " - [" + data.placa + "]")

                                                    $("#@{@ModalAlert_ModalEditarVehiculo}").text("")

                                                    $.ModuloVehiculosFlotas.vehiculo.ActualizarVehiculo.dataActual.mobileID = data.mobileID

                                                    $("#@{@Input_Placa_ModalEditarVehiculo}").val(data.placa)
                                                    $.ModuloVehiculosFlotas.vehiculo.ActualizarVehiculo.dataActual.placa = data.placa

                                                    $("#@{@Input_Nombre_ModalEditarVehiculo}").val(data.nombre)
                                                    $.ModuloVehiculosFlotas.vehiculo.ActualizarVehiculo.dataActual.nombre = data.nombre

                                                    $("#@{@DropDown_Flota_ModalEditarVehiculo}").data("kendoDropDownList").value(data.subfleetID + "")
                                                    $.ModuloVehiculosFlotas.vehiculo.ActualizarVehiculo.dataActual.idFlota = data.subfleetID

                                                    $("#@{@Input_Marca_ModalEditarVehiculo}").val(data.marca)
                                                    $.ModuloVehiculosFlotas.vehiculo.ActualizarVehiculo.dataActual.marca = data.marca

                                                    $("#@{@Input_Modelo_ModalEditarVehiculo}").val(data.modelo)
                                                    $.ModuloVehiculosFlotas.vehiculo.ActualizarVehiculo.dataActual.modelo = data.modelo

                                                    $("#@{@Input_KmxGal_ModalEditarVehiculo}").val(extraerNumeros(data.kmXGalon))
                                                    $.ModuloVehiculosFlotas.vehiculo.ActualizarVehiculo.dataActual.kmXGalon = extraerNumeros(data.kmXGalon)

                                                    $("#@{@Input_CapTan_ModalEditarVehiculo}").val(extraerNumeros(data.capacidadTanque))
                                                    $.ModuloVehiculosFlotas.vehiculo.ActualizarVehiculo.dataActual.capacidadTanque = extraerNumeros(data.capacidadTanque)

                                                    $("#@{@DropDown_Gasolina_ModalEditarVehiculo}").data("kendoDropDownList").select(data.tipoCombustibleID)
                                                    $.ModuloVehiculosFlotas.vehiculo.ActualizarVehiculo.dataActual.combustibleID = data.tipoCombustibleID

                                                    $("#@{@Input_VIN_ModalEditarVehiculo}").val(data.vin)
                                                    $.ModuloVehiculosFlotas.vehiculo.ActualizarVehiculo.dataActual.numeroVIN = data.vin

                                                    function extraerNumeros(cadena) {// Funcion para eliminar las unidades de medida 
                                                        const regex = /-?\d+(\.\d+)?/g;
                                                        const coincidencias = cadena.match(regex);
                                                        return coincidencias[0]
                                                    }

                                                    $('#@{@ModalEditarVehiculo}').modal('show');//Se muestra el vehiculo
                                                }
                                            },
                                            {
                                                name: "Eliminar",//Se especifica el nombre del comando
                                                text: '<span> <i class="bi bi-trash3"></i> Eliminar </span>',//Se especifica el texto que se mostrara en el boton
                                                click: function (e) {// función que se ejecutará al dar clic en el boton
                                                    e.preventDefault();//Se evita la función por defecto
                                                    var tr = $(e.target).closest("tr");//Se obtiene la fila
                                                    var data = this.dataItem(tr);//Se obtiene la data
                                                    //_this.EliminarProyecto(data.idProyectosVales, data.pep)
                                                    //console.log(data.mobileID)

                                                    /*Se llama a la función para eliminar el vehiculo*/
                                                    $.ModuloVehiculosFlotas.vehiculo.ActualizarVehiculo.EliminarMobile(data.mobileID,data.placa,data.nombre)
                                                }
                                            }

                                        ],
                                        attributes: { class: "col-command" },
                                        headerAttributes: { class: "col-command" },
                                    }
                                ],
                                mobile: "phone",// Se habilita el modo movil
                                pageable: true,//Se activa la paginacion 
                                selectable: false,//Se activa la selección
                                excel: {//se configura el nombre del exel que se descargara
                                    fileName: "vehiculos_" + moment().format("YYYYMMDD_HH-mm-ss") + ".xlsx"
                                }

                            });
                            /*var FechaInicio = moment($("#FechaIni").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss.SSS")
                            var FechaFin = moment($("#FechaFin").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss.SSS")*/
                            /*var FechaInicio = _this.Fecha.FechaInicio
                            var FechaFin = _this.Fecha.FechaFin*/
                            _this.DataGrid(null, null)
                        },
                        DataGrid: function (FechaIni, FechaFin) {//Funcion para obtener la Data del GRID

                            var arg = {
                                FechaIni: FechaIni,
                                FechaFin: FechaFin
                            }
                            //console.log(arg)

                            
                            $.get('@Url.Action("rpVehiculo", "adVehiculosFlotas")', arg, function (autos) {
                                for (let x = 0; x < autos.length; x++) {
                                    //Se da el formato  a la fecha usando moment js
                                    autos[x].fechaCreacion = moment(autos[x].fechaCreacion).subtract(6, "hour").format("DD/MM/YYYY HH:mm:ss")
                                    //Se añade la unidad de medida para los galones
                                    autos[x].capacidadTanque = autos[x].capacidadTanque + " Gal"
                                    //Se añade los unidad de medida para el rendimiento del vehiculo
                                    autos[x].kmXGalon = autos[x].kmXGalon + " Km/Gal"


                                }
                                //console.log(autos)
                                $("#@{@GRID_Vehiculos}").data("kendoGrid").dataSource.data(autos);
                            });
                        },
                        BTNGeneraGrid: function () {//Funcion para mostrar los vehiculos en base a la fecha
                            var _this = this;
                            $("#@{@BTN_ReloadGRID_Vehiculo}").on("click", function () {
                                //Se obtiene la fecha de inicio
                                var FechaInicio = moment($("#@{@DateTime_FechaIni_Vehiculo}").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss.SSS")
                                //Se obtiene la fecha de fin
                                var FechaFin = moment($("#@{@DateTime_FechaFin_Vehiculo}").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss.SSS")

                                _this.DataGrid(FechaInicio, FechaFin)
                            });

                        },
                    },
                    keypress: function () {//Funcion para validar el ingreso de datos en los input
                        $('#@{@Input_Placa}, #@{@Input_Placa_ModalEditarVehiculo}').keypress(function (event) {//Validacion de input placa en registro de auto y editar

                            var keyCode = event.which;
                            var inputValue = $(this).val();
                            if (!((keyCode >= 48 && keyCode <= 57) ||//Se valida que si se pueda ingresar numeros
                                (keyCode >= 65 && keyCode <= 90) ||//Se valida que si se pueda ingresar letras mayusculas
                                (keyCode >= 97 && keyCode <= 122))) {// Se valida que si se pueda ingresar letras minusculas
                                event.preventDefault();//Se evitas las demas teclas
                            }

                            if (inputValue.length > 14) {//Se evita qué no se puede ingresar mas de 14 caracteres
                                event.preventDefault();
                            }

                        });
                        $('#@{@Input_KmXGalon}, #@{@Input_KmxGal_ModalEditarVehiculo}').keypress(function (event) {//Función para validar KMxGalon

                            var keyCode = event.which;
                            var inputValue = $(this).val();

                            if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) {//Se evitan cararcteres, letras y espacios 
                                event.preventDefault();
                            }

                            if (keyCode === 46 && inputValue.indexOf('.') !== -1) {//Se evita colocar mas de un punto decimal
                                event.preventDefault();
                            }

                            if (inputValue.indexOf('.') !== -1 && inputValue.split('.')[1].length >= 2 && keyCode !== 46) {// se valida solo dos dos decimales
                                event.preventDefault();
                            }


                            /*Función para validar la cantidad maxima de galones por vehiculo*/
                            var valorActual = parseFloat(inputValue);
                            var tecla = parseInt(event.key)
                            //console.log(valorActual + " " + tecla)
                            if (!isNaN(valorActual) && !isNaN(tecla)) {
                                if (parseFloat(inputValue + event.key) > 5000) {
                                    //console.log(valorActual + tecla)
                                    event.preventDefault();
                                }
                            }

                        });
                        $('#@{@Input_CapacidadTanque}, #@{@Input_CapTan_ModalEditarVehiculo}').keypress(function (event) {//Función para validar la capacidad el tanque

                            var keyCode = event.which;
                            var inputValue = $(this).val();

                            if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) {//Se evita la inserción de caracteres, espacios y letras
                                event.preventDefault();
                            }

                            if (keyCode === 46 && inputValue.indexOf('.') !== -1) {//Se valdia que un solo punto decimal
                                event.preventDefault();
                            }

                            if (inputValue.indexOf('.') !== -1 && inputValue.split('.')[1].length >= 2 && keyCode !== 46) {// Se valida que solo dos decimales
                                event.preventDefault();
                            }


                            //Función para validar la capaciad maxima del tanque
                            var valorActual = parseFloat(inputValue);
                            var tecla = parseInt(event.key)
                            //console.log(valorActual + " " + tecla)
                            if (!isNaN(valorActual) && !isNaN(tecla)) {
                                if (parseFloat(inputValue + event.key) > 5000) {
                                    //console.log(valorActual + tecla)
                                    event.preventDefault();
                                }
                            }

                        });
                        $('#@{@Input_Vin}, #@{@Input_VIN_ModalEditarVehiculo}').keypress(function (event) {//Función para validar el VIN 

                            var keyCode = event.which;
                            var inputValue = $(this).val();
                            //console.log(inputValue)
                            if (inputValue.length > 16) {//Se evita que tenga mas de 16 caracteres
                                event.preventDefault();
                            }
                            if (!((keyCode >= 48 && keyCode <= 57) ||//Se valdia el ingreso de numeros
                                (keyCode >= 65 && keyCode <= 90) ||//Se valida el ingreso de mayusculas
                                (keyCode >= 97 && keyCode <= 122))) { // se valida el ingreso de minusculas
                                event.preventDefault();// se evita lo demas
                            }


                        });

                        $('#@{@Input_Nombre}, #@{@Input_Nombre_ModalEditarVehiculo}, #@{@Input_Marca}, #@{@Input_Marca_ModalEditarVehiculo},#@{@Input_Modelo_ModalEditarVehiculo}, #@{@Input_Modelo}').keypress(function (event) {
                            /*Función para validar el largo de los inputs*/
                            var keyCode = event.which;
                            var inputValue = $(this).val();
                            //console.log(inputValue)
                            if (inputValue.length > 19) {//Se limita a un maximo de 18 caracteres
                                event.preventDefault();
                            }
                        });


                    },
                    validaciones: function () {//Función para validar los datos del vehiculo
                        var placa = $("#@{@Input_Placa}").val().trim();
                        var Nombre = $("#@{@Input_Nombre}").val().trim();
                        var Flota = $("#@{@DropDown_Flota}").data("kendoDropDownList").value()
                        var CentroCosto = $("#@{@DropDown_CentroCosto}").data("kendoDropDownList").value()

                        //Se valida que se ingrese una placa
                        if (placa === "") {
                            $.ModuloVehiculosFlotas.alert("Campo vacio", "Debe ingresar una placa", "warning");

                            return false;
                        }
                        //Sa valida que se ingreso un nombre
                        if (Nombre === "") {
                            $.ModuloVehiculosFlotas.alert("Campo vacio", "Debe ingresar un nombre", "warning");

                            return false;
                        }
                        //Se valida que se selecciono una flota
                        if (Flota === "") {
                            $.ModuloVehiculosFlotas.alert("Sin seleccionar", "Debe seleccionar una flota para el vehiculo", "warning");
                            return false;
                        }
                        //Se valida que se seleccionó un Centro de costo
                        if (CentroCosto === "") {
                            $.ModuloVehiculosFlotas.alert("Sin seleccionar", "Debe seleccionar una centro de costo para el vehiculo", "warning");
                            return false;
                        }
                        return true
                    },
                    BTN_RegistrarVehiculo: function () {//Función para guardar vehiculos
                        var _this = this;

                        $("#@{@BTN_Registrar_Vehiculo}").on("click", function () {
                            /*Se obtienen los datos del vehiculo */
                            var _Placa = $("#@{@Input_Placa}").val().toUpperCase();
                            var _Nombre = $("#@{@Input_Nombre}").val().trim();
                            var _Modelo = $("#@{@Input_Modelo}").val().trim();
                            var _Marca = $("#@{@Input_Marca}").val().trim();
                            var _Flota = parseInt($("#@{@DropDown_Flota}").data("kendoDropDownList").value())
                            var _KilometrosXgalon = $("#@{@Input_KmXGalon}").val();
                            var _CapacidadTanque = $("#@{@Input_CapacidadTanque}").val();
                            var _TipoCombustible = $("#@{@DropDown_Gasolina}").data("kendoDropDownList").value()
                            var _VIN = $("#@{@Input_Vin}").val().toUpperCase();

                            var _CentroCostoID = parseInt($("#@{@DropDown_CentroCosto}").data("kendoDropDownList").value())

                            if (_TipoCombustible === "") {
                                _TipoCombustible = ""
                            } else {
                                parseInt($("#@{@DropDown_Gasolina}").data("kendoDropDownList").value())
                            }

                            let arg = {
                                PlacaNew: _Placa,
                                NombreNew: _Nombre,
                                Marca: _Marca,
                                Modelo: _Modelo,
                                FlotaID: _Flota,
                                KmXGalon: _KilometrosXgalon,
                                CapacidadTanque: _CapacidadTanque,
                                TipoCombustibleID: _TipoCombustible,
                                VINNew: _VIN,
                                CentroCostoID: _CentroCostoID
                            }
                            //Se validan  los datos del vehiculo y se verifica el resultado
                            if (_this.validaciones() === true) {
                                $.get('@Url.Action("agregarVehiculo", "adVehiculosFlotas")', arg, function (mensaje) {
                                    if (mensaje[0].bandera === 1) {
                                        $.ModuloVehiculosFlotas.alert("Registro exitoso", mensaje[0].resultado, "success")
                                        $("#@{@Input_Placa}").val("");
                                        $("#@{@Input_Nombre}").val("");
                                        $("#@{@Input_Modelo}").val("");
                                        $("#@{@Input_Marca}").val("");
                                        $("#@{@Input_KmXGalon}").val("");
                                        $("#@{@Input_CapacidadTanque}").val("");
                                        $("#@{@Input_Vin}").val("");
                                        $("#@{@DropDown_Gasolina}").data("kendoDropDownList").select(0)
                                        $("#@{@DropDown_Flota}").data("kendoDropDownList").select(0)
                                        $("#@{@DropDown_CentroCosto}").data("kendoDropDownList").select(0)

                                        var FechaInicio = moment($("#@{@DateTime_FechaIni_Vehiculo}").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss.SSS")
                                        $("#@{@DateTime_FechaFin_Vehiculo}").data("kendoDateTimePicker").value(kendo.parseDate(moment().format("YYYY/MM/DD HH:mm:ss")));

                                        var FechaFin = moment.utc().format("YYYY/MM/DD HH:mm:ss");
                                        _this.GRID.DataGrid(FechaInicio, FechaFin)
                                    } else {
                                        $.ModuloVehiculosFlotas.alert("Error", mensaje[0].resultado, "warning")
                                    }
                                });
                            }
                        });
                    },
                    ActualizarVehiculo: {
                        dataActual: {//Arreglo para guardar la data del vehiculo, para validar que 
                            mobileID: 0,
                            placa: "",
                            nombre: "",
                            idFlota: "",
                            marca: "",
                            modelo: "",
                            kmXGalon: "",
                            capacidadTanque: "",
                            combustibleID: "",
                            numeroVIN: ""
                        },
                        eventoInput: function () {//Evento para comparar la data original del GRID con la nueva que se ingresa para activar el boton
                            var _this = this
                            //Se llama a la función para comparar la data del grid con la que se ingresa en el modal
                            $("#@{@Input_Placa_ModalEditarVehiculo}, #@{@Input_Nombre_ModalEditarVehiculo}, #@{@Input_Marca_ModalEditarVehiculo},#Input_Modelo,#Input_KmxGal,#Input_CapTan,#Input_VIN").on("input", function (e) {
                                _this.activarButton()
                            })
                        },
                        activarButton: function () {//Función para activar el boton guardar cambios del modal
                            var _this = this

                            if (_this.comparador() === true) {
                                if ($("#@{@BTN_GuardarCambios_ModalEditarVehiculo}").is(':disabled') === true) {
                                    $("#@{@BTN_GuardarCambios_ModalEditarVehiculo}").attr("disabled", false)
                                }
                            } else {
                                $("#@{@BTN_GuardarCambios_ModalEditarVehiculo}").attr("disabled", true)
                            }
                        },
                        comparador: function () {//Funcion para comparar la data del GRID con la del modal
                            var _this = this
                            /*Se obtienen los datos del vehiculo del modal */
                            var Placa = $("#@{@Input_Placa_ModalEditarVehiculo}").val()
                            var Nombre = $("#@{@Input_Nombre_ModalEditarVehiculo}").val()
                            var FlotaID = $("#@{@DropDown_Flota_ModalEditarVehiculo}").data("kendoDropDownList").value()
                            var Marca = $("#@{@Input_Marca_ModalEditarVehiculo}").val()
                            var Modelo = $("#@{@Input_Modelo_ModalEditarVehiculo}").val()
                            var KmxGal = $("#@{@Input_KmxGal_ModalEditarVehiculo}").val()
                            var CapTan = $("#@{@Input_CapTan_ModalEditarVehiculo}").val()

                            var CombustibleID = $("#@{@DropDown_Gasolina_ModalEditarVehiculo}").data("kendoDropDownList").value()
                            CombustibleID = CombustibleID !== "" ? parseInt(CombustibleID) : 0
                            var VIN = $("#@{@Input_VIN_ModalEditarVehiculo}").val()

                            /*Se compara la data del grid con la del modal */
                            if (_this.dataActual.placa !== Placa) {
                                return true
                            }

                            if (_this.dataActual.nombre !== Nombre) {
                                return true
                            }
                            if (FlotaID !== "") {

                                FlotaID = parseInt(FlotaID)

                                if (_this.dataActual.idFlota !== FlotaID) {
                                    return true
                                }

                            }
                            if (_this.dataActual.marca !== Marca) {
                                return true
                            }

                            if (_this.dataActual.modelo !== Modelo) {
                                return true
                            }

                            if (_this.dataActual.kmXGalon !== KmxGal) {
                                return true
                            }
                            if (_this.dataActual.capacidadTanque !== CapTan) {
                                return true
                            }
                            if (_this.dataActual.combustibleID !== CombustibleID) {
                                return true
                            }
                            if (_this.dataActual.numeroVIN !== VIN) {
                                return true
                            }

                            return false
                        },
                        validaciones: function () {// Función para validar los datos nuevos del vehiculo 
                            var _this = this
                            
                            var placa = $("#@{@Input_Placa_ModalEditarVehiculo}").val().trim();
                            var Nombre = $("#@{@Input_Nombre_ModalEditarVehiculo}").val().trim();
                            var Flota = $("#@{@DropDown_Flota_ModalEditarVehiculo}").data("kendoDropDownList").value()

                            //Se valida que la placa del vehiculo no se envie vacia
                            if (placa === "") {
                                _this.alert("alerta", "Debe ingresar una placa")
                                return false;
                            }
                            //Se valida que se ingrese un nombre del equipo
                            if (Nombre === "") {
                                this.alert("alerta", "Debe ingresar un nombre")

                                return false;
                            }
                            //Se valida que se selecciono una flota
                            if (Flota === "") {
                                this.alert("alerta", "Debe seleccionar una flota para el vehiculo")
                                return false;
                            }
                            return true
                        },
                        BTN_ActulizarDatos: function () {//Función para guardar los datos nuevos del vehiculo
                            var _this = this
                            $("#@{@BTN_GuardarCambios_ModalEditarVehiculo}").on("click", function () {
                                //var _this = this

                                /*  Se obtienen los datos del modal*/
                                var Placa = $("#@{@Input_Placa_ModalEditarVehiculo}").val().toUpperCase()
                                var Nombre = $("#@{@Input_Nombre_ModalEditarVehiculo}").val()
                                var FlotaModal = $("#@{@DropDown_Flota_ModalEditarVehiculo}").val()
                                FlotaModal = parseInt(FlotaModal)
                                var Marca = $("#@{@Input_Marca_ModalEditarVehiculo}").val()
                                var Modelo = $("#@{@Input_Modelo_ModalEditarVehiculo}").val()
                                var KmxGal = $("#@{@Input_KmxGal_ModalEditarVehiculo}").val()
                                KmxGal = KmxGal === "" ? null : parseFloat(KmxGal)
                                var CapTan = $("#@{@Input_CapTan_ModalEditarVehiculo}").val()
                                CapTan = CapTan === "" ? null : parseFloat(CapTan)
                                var GasolinaModal = $("#@{@DropDown_Gasolina_ModalEditarVehiculo}").val()
                                GasolinaModal = GasolinaModal === "" ? null : parseInt(GasolinaModal)
                                var VIN = $("#@{@Input_VIN_ModalEditarVehiculo}").val().toUpperCase()

                                var arg = {
                                    MobileID: _this.dataActual.mobileID,
                                    Placa: Placa,
                                    Nombre: Nombre,
                                    FlotaID: FlotaModal,
                                    Marca: Marca,
                                    Modelo: Modelo,
                                    KmXGalon: KmxGal,
                                    CapTan: CapTan,
                                    CombustibleID: GasolinaModal,
                                    NumeroVIm: VIN
                                }
                                //console.log(arg)
                                //Se validan los datos y se actualiza
                                if (_this.validaciones() === true) {
                                    $.post('@Url.Action("ActualizaMobile", "adVehiculosFlotas")', arg, function (mensaje) {
                                        //console.log(mensaje)
                                        mensaje = mensaje[0]
                                        if (mensaje.bandera === 1) {
                                            var FechaInicio = moment($("#@{@DateTime_FechaIni_Vehiculo}").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss.SSS")
                                            var FechaFin = moment($("#@{@DateTime_FechaFin_Vehiculo}").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss.SSS")
                                            $.ModuloVehiculosFlotas.vehiculo.GRID.DataGrid(FechaInicio, FechaFin)
                                            _this.alert("suceso", mensaje.resultado)
                                        } else {
                                            _this.alert("alerta", mensaje.resultado)
                                        }

                                    });
                                }
                            });
                        },
                        EliminarMobile: function (_MobileID,_Placa,_Nombre) {//Función para eliminar el mobile
                            var arg = {
                                MobileID: _MobileID
                            }

                            //console.log(_Placa + " " + _Nombre )
                            Swal.fire({
                            title: "¿Esta seguro?",
                            text: 'La eliminación de "' + _Nombre  + ' - ['+_Placa +']" no es reversible',
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            cancelButtonText: "Cancelar",
                            confirmButtonText: "Si, eliminar!"
                        }).then((result) => {//Se consulta que si desea eliminar el auto
                            if (result.isConfirmed) {//Si se confirma, se elimina 
                                $.post('@Url.Action("EliminarMobile", "adVehiculosFlotas")', arg, function (mensaje) {
                                mensaje = mensaje[0]
                                if (mensaje.bandera === 1) {
                                    var FechaInicio = moment($("#@{@DateTime_FechaIni_Vehiculo}").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss.SSS")
                                    var FechaFin = moment($("#@{@DateTime_FechaFin_Vehiculo}").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss.SSS")
                                    $.ModuloVehiculosFlotas.vehiculo.GRID.DataGrid(FechaInicio, FechaFin)
                                    $._combustible.alert("success", "Eliminación exitosa", mensaje.resultado)
                                } else {
                                    $._combustible.alert("error", "Error", mensaje.resultado)
                                }
                            })
                            }
                        });
                            @*$.post('@Url.Action("EliminarMobile", "adVehiculosFlotas")', arg, function (mensaje) {
                                mensaje = mensaje[0]
                                if (mensaje.bandera === 1) {
                                    var FechaInicio = moment($("#@{@DateTime_FechaIni_Vehiculo}").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss.SSS")
                                    var FechaFin = moment($("#@{@DateTime_FechaFin_Vehiculo}").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss.SSS")
                                    $.ModuloVehiculosFlotas.vehiculo.GRID.DataGrid(FechaInicio, FechaFin)
                                    $._combustible.alert("success", "Eliminación exitosa", mensaje.resultado)
                                } else {
                                    $._combustible.alert("error", "Error", mensaje.resultado)
                                    //$._combustible.alert("success", "Eliminación exitosa", mensaje.resultado)
                                }
                            })*@
                        },
                        alert: function (tipo, mensaje) {//Función para mostrar alertas en el modal
                            if (tipo === "alerta") {
                                $("#@{@ModalAlert_ModalEditarVehiculo}").text("Alerta: " + mensaje)
                                $("#@{@ModalAlert_ModalEditarVehiculo}").css("color", "red")
                            }
                            if (tipo === "suceso") {
                                $("#@{@ModalAlert_ModalEditarVehiculo}").text("Nota: " + mensaje)
                                $("#@{@ModalAlert_ModalEditarVehiculo}").css("color", "green")
                            }
                        }
                    }

                },
                flota: {// Funciones para la administración de vehiculos
                    agregarFlota: function () {//Función para agregar flota
                        var _this = this

                        $("#@{@BTN_AgregarFlota}").on("click", function () {
                            var Flota = $("#@{@Input_Flota}").val().trim()
                            //Se llama a la función que valida los datos y se verifica el resultado
                            if (_this.validaciones() === false) {
                                $.ModuloVehiculosFlotas.alert("Compo vacio", "Debe ingresar el nombre de una subflota", "warning")
                            } else {
                                $.get('@Url.Action("agregarFlota", "adVehiculosFlotas")', { SubfleetName: Flota }, function (mensaje) {
                                    if (mensaje[0].bandera === 0) {
                                        $.ModuloVehiculosFlotas.alert("Error", mensaje[0].resultado, "warning")
                                    } else {
                                        $.ModuloVehiculosFlotas.alert("Registro exitoso", mensaje[0].resultado, "success")
                                        $.ModuloVehiculosFlotas.vehiculo.DropDowns.DataDropDowns();
                                        $.ModuloVehiculosFlotas.flota.Grid.dataGrid()
                                        $("#@{@Input_Flota}").val("")
                                    }
                                })
                            }

                        });
                    },
                    validaciones: function () {//Función para validar que se ingrese un nombre de flota
                        var Flota = $("#@{@Input_Flota}").val().trim()

                        //console.log(Flota)

                        //Se valida que se ingreso un nomobre de flota
                        if (Flota === "") {
                            return false
                        }

                        return true
                    },
                    Grid: {
                        loadGrid: function () {//Función para inicializar el GRID 
                            var _this = this
                            $("#@{@GRID_Flotas}").html("");//Se limpia el contenedor del GRID
                            $("#@{@GRID_Flotas}").kendoGrid({//Se inicializa el GRID
                                dataSource: {
                                    pageSize: 10
                                },
                                toolbar: ["search"],
                                columns: [
                                    {
                                        field: "nombreSubfleet",
                                        title: "<b>SubfLota</b>"
                                    },
                                    {
                                        command: [
                                            {
                                                name: "Editar",
                                                text: '<span> <i class="bi bi-pencil-square"></i></i> Editar </span>',
                                                click: function (e) {
                                                    e.preventDefault();
                                                    var tr = $(e.target).closest("tr");
                                                    var data = this.dataItem(tr);
                                                    @*$("#@{@EditarModalLabel}").text("Modificar centro de costo")*@
                                                        //_this.modal.CentroCostoID = data.centroCostoID
                                                    $.ModuloVehiculosFlotas.flota.modal.SubfleetID = data.subfleetID //Se Guarda el ID de la subFlota a modificar
                                                    $("#@{@ModalAlert_ModalEditarFlota}").text("")//Se limpía le label de la alerta
                                                    $("#@{@Input_Flota_ModalEditarFlota}").val(data.nombreSubfleet)//Se muestra la sub flota en el input de edición de nombre
                                                    $('#@{@ModalEditarFlota}').modal('show');//Se muestra el modal

                                                }
                                            },
                                            {
                                                name: "Eliminar",
                                                text: '<span> <i class="bi bi-trash3"></i> Eliminar </span>',
                                                click: function (e) {
                                                    e.preventDefault();
                                                    var tr = $(e.target).closest("tr");
                                                    var data = this.dataItem(tr);
                                                    //console.log(data.subfleetID)
                                                    //$.ModuloCentroCosto.Grid.EliminarCentroCosto(data.centroCostoID, data.nombreCentroCosto)
                                                    $.ModuloVehiculosFlotas.flota.EliminarSubfleet(data.subfleetID, data.nombreSubfleet)//Se manda a llamar la función de eliminar la subflota

                                                }
                                            }
                                        ],
                                        attributes: { /*style: "text-align: center; width:15vw" */ class: "col-command-2" },
                                        headerAttributes: { class: "col-command-2" }
                                        //width: "15%"
                                    }
                                ],
                                dataBound: function (e) {
                                    $("#@{@GRID_Flotas} > div span input").attr("placeholder", "Busqueda")
                                },
                                detailInit: _this.SubGrid.load,//detailInit sirve para mostrar el GRID hijo de una columna
                                pageable: true, //Se Habilita la paginación
                                mobile: "phone",//Se habilita el modo movil
                            });
                            _this.dataGrid();
                        },
                        dataGrid: function () {//Función para traer la data de las subflotas del sever
                            $.get('@Url.Action("obtenerFlotas", "adVehiculosFlotas")', function (flotas) {
                                $("#@{@GRID_Flotas}").data("kendoGrid").dataSource.data(flotas)
                            });
                        },
                        SubGrid: {
                            load: function (e) {//Función para mosrar el grid hijo 
                                //e.data.usuario
                                //console.log(e.data.subfleetID)
                                $.get('@Url.Action("ObtenerMobileXSubfleet", "adVehiculosFlotas")', { SubfleetID: e.data.subfleetID }, function (mobiles) {//
                                    //console.log(e.detailCell)
                                    kendo.ui.Grid.prototype.options.messages.commands.search = "Busqueda";
                                    $("<div/>").appendTo(e.detailCell).kendoGrid({
                                        dataSource: mobiles,
                                        toolbar: ["excel", "search"],
                                        columns: [
                                            { field: "nombre", title: "Nombre", width: "100px",headerAttributes: { class: "subgrid-titles" } },
                                            { field: "placa", title: "Placa", width: "100px",headerAttributes: { class: "subgrid-titles" }  },
                                            {field: "marca", title: "Marca", width: "150px",headerAttributes: { class: "subgrid-titles" }  },
                                            { field: "modelo", title: "Modelo", width: "200px",headerAttributes: { class: "subgrid-titles" }  }

                                        ], selectable: "single, row",
                                        resizable: true
                                    });
                                    //console.log(subGrid.data("kendoGrid").dataSource.data())
                                    
                                })
                            }
                        }
                    },
                    EliminarSubfleet: function (_SubfleetID, _NombreSubfleet) {//Función para eliminar los subflotas
                        let arg = {
                            SubfleetID: _SubfleetID
                        }

                        Swal.fire({
                            title: "¿Esta seguro?",
                            text: 'La eliminacion de "' + _NombreSubfleet + '" no es reversible',
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            cancelButtonText: "Cancelar",
                            confirmButtonText: "Si, eliminar!"
                        }).then((result) => {//Se consulta si se desea eliminar 
                            if (result.isConfirmed) {//Si se confirma se elimina
                                $.post('@Url.Action("EliminarSubfleet", "adVehiculosFlotas")', arg, function (mensaje) {
                                    mensaje = mensaje[0]
                                    if (mensaje.bandera === 1) {
                                        $._combustible.alert("success", "Eliminación exitosa", mensaje.resultado)
                                        $.ModuloVehiculosFlotas.flota.Grid.dataGrid()
                                    } else {
                                        $._combustible.alert("error", "Error", mensaje.resultado)
                                    }
                                    
                                });
                            }
                        });

                    },                   
                    keypress: function () { //Función para validar el ingreeso de data en los inputs
                        $('#@{@Input_Flota}', '#@{@Input_Flota_ModalEditarFlota}').keypress(function (event) {//Se valida el ingreso de datos en para el nombre de subdlota

                            var keyCode = event.which;
                            var inputValue = $(this).val();
                            //console.log(inputValue)
                            if (inputValue.length > 19) {//Se valida el maximo de caracteres
                                event.preventDefault();
                            }
                        });
                    },
                    modal: {
                        SubfleetID: 0,
                        BTN_GuardarCambios: function () {//Función para guardar datos
                            var _this = this
                            $("#@{@BTN_GuardarCambios_ModalEditarFlota}").on("click", function () {
                                var _NombreNuevoSubfleet = $("#@{@Input_Flota_ModalEditarFlota}").val().trim()
                                if (_this.validaciones(_NombreNuevoSubfleet) === true) {

                                    //_this.alertModal("suceso", "Hecho")
                                    var arg = {
                                        SubfleetID: _this.SubfleetID,
                                        NombreSubfleetNuevo: _NombreNuevoSubfleet
                                    }

                                    //console.log(arg)
                                    $.post('@Url.Action("ActulizarSubfleet", "adVehiculosFlotas")', arg, function (mensaje) {

                                            mensaje = mensaje[0]
                                            //console.log(mensaje)
                                            if (mensaje.bandera === 1) {
                                                _this.alertModal("suceso", mensaje.resultado)
                                                //$.ModuloCentroCosto.Grid.dataGrid()
                                            $.ModuloVehiculosFlotas.flota.Grid.dataGrid()
                                            } else {
                                                _this.alertModal("alerta", mensaje.resultado)
                                            }

                                    })
                                }
                            });

                        },
                        validaciones: function (nombre) {//Función para validar el nombre de la subflota
                                var _this = this

                                $("#@{@ModalAlert_ModalEditarFlota}").text("")//Se valida que no vaya en texto vacio
                                if (nombre === "") {
                                    _this.alertModal("alerta", "Debe ingresar el nuevo nombre")
                                    return false
                                }

                                if (nombre.length < 3) {//Se valida que tenga al menos tres caracteres el nombre
                                    _this.alertModal("alerta", "El Nombre debe tener al menos tres carácteres")
                                    return false
                                }

                                return true
                        },
                        alertModal: function (tipo, mensaje) {//Función para mostrar alertas en el modal
                            if (tipo === "alerta") {
                                    $("#@{@ModalAlert_ModalEditarFlota}").text("Alerta: " + mensaje)
                                    $("#@{@ModalAlert_ModalEditarFlota}").css("color", "red")
                            }
                                if (tipo === "suceso") {
                                    $("#@{@ModalAlert_ModalEditarFlota}").text("Nota: " + mensaje)
                                    $("#@{@ModalAlert_ModalEditarFlota}").css("color", "green")
                                }
                            }
                    }
                },
                flotaModal: {
                    agregarFlota: function () {//Función para agregar flota del modal
                        var _this = this

                        $("#@{@BTN_AgregarFlota_ModalAgregarFlota}").on("click", function () {
                            var Flota = $("#@{@Input_Flota_ModalAgregarFlota}").val().trim()

                            if (_this.validaciones() === false) {
                                _this.nota("Debe ingresar el nombre de una subflota", "warning")
                            } else {
                                $.get('@Url.Action("agregarFlota", "adVehiculosFlotas")', { SubfleetName: Flota }, function (mensaje) {
                                    if (mensaje[0].bandera === 0) {//Ocurrió un error o hay otra subflota con ese nombre
                                        _this.nota(mensaje[0].resultado, "warning")
                                    } else {//Se crea la subflota
                                        _this.nota(mensaje[0].resultado, "success")
                                        $.ModuloVehiculosFlotas.vehiculo.DropDowns.DataDropDowns();//se actualza el modal de las subflotas
                                        $.ModuloVehiculosFlotas.flota.Grid.dataGrid();//Se actuliza el Grid de las subflotas
                                        $("#@{@Input_Flota_ModalAgregarFlota}").val("");//Se limpía el input para ingresar el nombre del modal
                                    }
                                })
                            }

                        });
                    },
                    BTN_Modal: function () {//Función para registrar Sub Flotas

                        $("#btn_nuevaFlota").on("click", function () {
                            $("#@{@Input_Flota_ModalAgregarFlota}").text("")
                            $('#@{@ModalAgregarFlota}').modal('show');
                        })
                    },
                    validaciones: function () {//Función para validar el nombre de la sublota del modal
                        var Flota = $("#@{@Input_Flota_ModalAgregarFlota}").val().trim()

                        //console.log(Flota)
                        if (Flota === "") {//Se valida que el nombre no este vació
                            return false
                        }

                        return true
                    },
                    nota: function (mensaje, estado) {//Función para mostrar alertas en el modal
                        var nota = $("#@{@ModalAlert_ModalAgregarFlota}").val()

                        if (estado === "warning") {
                            $("#@{@ModalAlert_ModalAgregarFlota}").text("Alerta: " + mensaje);
                            $("#@{@ModalAlert_ModalAgregarFlota}").css("color", "red")
                            $("#@{@Input_Flota_ModalAgregarFlota}").css("border", "1px solid red");
                            $("#@{@Input_Flota_ModalAgregarFlota}").css("background-color", "#FCC6D3")
                        }

                        if (estado === "success") {
                            $("#@{@ModalAlert_ModalAgregarFlota}").text("Nota: " + mensaje);
                            $("#@{@ModalAlert_ModalAgregarFlota}").css("color", "green")
                            $("#@{@Input_Flota_ModalAgregarFlota}").css("border", "1px solid #ced4da");
                            $("#@{@Input_Flota_ModalAgregarFlota}").css("background", "#ffffff")
                        }

                    },
                    focus: function () {//Función para configurar el evento focus de un input

                        $("#@{@Input_Flota_ModalAgregarFlota}").on("focus", function () {
                            $("#@{@Input_Flota_ModalAgregarFlota}").text("");
                            $("#@{@Input_Flota_ModalAgregarFlota}").css("border", "1px solid #ced4da");
                            $("#@{@Input_Flota_ModalAgregarFlota}").css("background", "#ffffff")
                        })
                    }
                },
                CentroCostoModal: {
                    agregarCentroCosto: function () {//Función para agregar un centro de costo de un modal
                        var _this = this

                        $("#@{@BTN_AgregarCentroCosto_ModalAgregarCentroCosto}").on("click", function () {
                            var CentroCosto = $("#@{@Input_CentroCosto_ModalAgregarCentroCosto}").val().trim()

                            if (_this.validaciones() === true) {
                                //$._combustible.alert("success", "Titulo", "Se crea el centro de costo")
                                let arg = {
                                    Nombre: CentroCosto
                                }
                                $.post('@Url.Action("CrearCentroCosto", "adVehiculosFlotas")', arg, function (mensaje) {
                                    if (mensaje[0].bandera === 0) {
                                        _this.nota(mensaje[0].resultado, "warning")
                                    } else {
                                        _this.nota(mensaje[0].resultado, "success")
                                        $.ModuloVehiculosFlotas.vehiculo.DropDowns.DataDropDowns();
                                        $("#@{@Input_CentroCosto_ModalAgregarCentroCosto}").val("")
                                    }
                                });
                            }
                        });
                    },
                    BTN_Modal: function () {//Function para guardar la subflota desde el modal
                        $("#btn_nuevoCentroCosto").on("click", function () {
                            
                            $('#@{@ModalAgregarCentroCosto}').modal('show');
                        });
                    },
                    validaciones: function () {//Validaciones de flota modal
                        var _this = this 
                        var CentroCosto = $("#@{@Input_CentroCosto_ModalAgregarCentroCosto}").val().trim()

                        //console.log(Flota)
                        if (CentroCosto === "") {//Se valida que se ingresó un nombre para el centro de costo
                            _this.nota("Debe ingresar el nombre del centro de costo", "warning")
                            return false
                        }
                        if (CentroCosto.length < 3) {//Se valida que el centro de costo tenga al menos tres caracteres
                            _this.nota("Nombre demasiado corto,El nombre debe tener al menos tres caractares", "warning")
                            //$._combustible.alert("error", "", "")
                            return false
                        }
                        return true
                    },
                    nota: function (mensaje, estado) {//Función para mostrar alertas del modal
                        var nota = $("#@{@ModalAlert_ModalAgregarCentroCosto}").val()

                        if (estado === "warning") {
                            $("#@{@ModalAlert_ModalAgregarCentroCosto}").text("Alerta: " + mensaje);
                            $("#@{@ModalAlert_ModalAgregarCentroCosto}").css("color", "red")
                            $("#@{@Input_CentroCosto_ModalAgregarCentroCosto}").css("border", "1px solid red");
                            $("#@{@Input_CentroCosto_ModalAgregarCentroCosto}").css("background-color", "#FCC6D3")
                        }

                        if (estado === "success") {
                            $("#@{@ModalAlert_ModalAgregarCentroCosto}").text("Nota: " + mensaje);
                            $("#@{@ModalAlert_ModalAgregarCentroCosto}").css("color", "green")
                            $("#@{@Input_CentroCosto_ModalAgregarCentroCosto}").css("border", "1px solid #ced4da");
                            $("#@{@Input_CentroCosto_ModalAgregarCentroCosto}").css("background", "#ffffff")
                        }

                    },
                    focus: function () {//Evento focus del input del modal 

                        $("#@{@Input_Flota_ModalAgregarFlota}").on("focus", function () {
                            $("#@{@ModalAlert_ModalAgregarCentroCosto}").text("");
                            $("#@{@Input_CentroCosto_ModalAgregarCentroCosto}").css("border", "1px solid #ced4da");
                            $("#@{@Input_CentroCosto_ModalAgregarCentroCosto}").css("background", "#ffffff")
                        })
                    }
                },
                alert: function (title, text, icon) {//Función para mostrar alertas 
                    Swal.fire({
                        icon: icon,
                        title: title,
                        text: text,
                    });
                },
                init: function () {//Funciones que se inicialzan al cargar el modulo
                    var _this = this;
                    _this.tabstrip()
                    _this.vehiculo.DropDowns.loadDropDowns();
                    _this.vehiculo.GRID.loadGrid();
                    _this.vehiculo.GRID.BTNGeneraGrid()
                    _this.vehiculo.BTN_RegistrarVehiculo();
                    _this.vehiculo.keypress();
                    _this.vehiculo.ActualizarVehiculo.eventoInput();
                    _this.vehiculo.ActualizarVehiculo.BTN_ActulizarDatos();

                    _this.flota.agregarFlota();
                    _this.flota.Grid.loadGrid();
                    _this.flota.Grid.dataGrid();
                    _this.flota.keypress();
                    _this.flota.modal.BTN_GuardarCambios()

                    _this.flotaModal.BTN_Modal();
                    _this.flotaModal.agregarFlota();
                    _this.flotaModal.focus();

                    _this.CentroCostoModal.BTN_Modal()
                    _this.CentroCostoModal.agregarCentroCosto()
                    _this.CentroCostoModal.focus()

                }
            }     
        })
        $.ModuloVehiculosFlotas.init()
    })();
</script>