@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*<section class="gradient-form">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-12">
               
            </div>
        </div>
    </div>
    <div id="flotaModal" class="modal fade">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-truck"></i> Registro de Flotas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @await Html.PartialAsync("~/Views/adVehiculosFlotas/Partials/adAgregarFlotas.cshtml")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="BTN_AgregarFlotaModal">Registrar Flota</button>
                </div>
            </div>
        </div>
    </div>
</section>*@
<section>
    <div id="tabstrip">
        <ul>
            <li class="k-state-active">
                Registro de Autos
            </li>
            <li>
                Registro de SubFlotas
            </li>
        </ul>
        <div class="card">
            <div class="container-fluid card">
                <form class="row">
                    <div class="col-lg-12 mt-lg-3 mt-2">
                        <h2 class="text-center">Registo de vehiculo</h2>
                    </div>
                    <div class=" p-lg-4 row">
                        <div class="col-lg-6">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="">Placa</label>
                                <input type="text" class="form-control" id="Placa" style="text-transform:uppercase" />

                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="">Nombre</label>
                                <input type="text" class="form-control" id="Nombre" />

                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="">Marca</label>
                                <input type="text" id="Marca" class="form-control" />

                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="">Modelo</label>
                                <input type="text" class="form-control" id="Modelo" />

                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="">Seleccione la flota del vehiculo</label>
                                <div class="container-fluid p-0">
                                    <div class="row">
                                        <div class="col-lg-10 ">
                                            <input id="Drop_Flota" class="w-100" />
                                        </div>
                                        <div class="col-lg-2 mt-4 mt-3 mt-lg-0">
                                            <div class="bg-success w-100 rounded d-flex justify-content-center align-items-center " style="cursor: pointer;" id="btn_nuevaFlota">
                                                <span class="d-sm-block d-md-none me-1 me-lg-0 text-light">Agregar una flota nueva</span>
                                                <i class="bi bi-plus-circle text-light fs-5"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="">Kilometros por galon</label>
                                <input type="text" class="form-control" id="KmXGalon" />

                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="">Capacidad de tanque</label>
                                <input type="text" class="form-control" id="CapacidadTanque" />

                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="">Tipo de combustible</label>
                                <input id="Drop_Gasolina" class="" />

                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="">VIN</label>
                                <input type="text" class="form-control" id="Vin" style="text-transform:uppercase" />

                            </div>
                            <div class="form-outline mb-4">
                                <input type="button" class="btn btn-success w-100" id="btn_registrar" value="Registrar vehiculo" />
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="container-fluid card mt-lg-5 p-lg-5">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-center">Autos de la Compañia</h2>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-4 col-12 d-flex  align-items-center ps-lg-5 ">
                        <h4 class="w-50 ps-2 ps-lg-5 text-start text-lg-center">Fecha inicio:</h4>
                        <input id="FechaIni" class="w-50 me-2 me-lg-0" />
                    </div>
                    <div class="col-lg-4  offset-lg-2 col-12 offset-sm-0 d-flex  align-items-center ps-lg-5">
                        <h4 class="w-50 ps-2 ps-lg-5 text-start text-lg-center">Fecha fin:</h4>
                        <input id="FechaFin" class="w-50 me-2 me-lg-0" />
                    </div>
                    <div class="col-lg-2 offset-lg-0 col-10 offset-1 d-flex  align-items-center mt-2 mt-lg-0">
                        <input class="ms-lg-3 btn btn-success w-100" id="reloadGrid" type="button" value="Generar" />
                    </div>
                </div>

                <div class="row">
                    <div id="GridFlotas">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="text-center"> Registro de Flotas</h2>
                    </div>
                </div>
                <div class="row mt-lg-2">
                    <div class="form-outline col-12 col-lg-6">
                        <input type="text" class="form-control" id="Flota" />
                    </div>
                    <div class="form-outline col-12 col-lg-6 mt-3 mt-lg-0">
                        <input type="button" id="BTN_AgregarFlota" class="btn btn-success w-100" value="Registrar Flota" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="flotaModal" class="modal fade">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-truck"></i> Registro de Flotas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @await Html.PartialAsync("~/Views/adVehiculosFlotas/Partials/adAgregarFlotas.cshtml")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="BTN_AgregarFlotaModal">Registrar Flota</button>
                </div>
            </div>
        </div>
    </div>
    <div id="editarVehiculoModal" class="modal fade">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-pencil-square"></i> Edicion de Vehiculos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid"> 
                        <div class="row">
                            <div class="col-lg-12 d-flex justify-content-center align-items-center">
                                <i class="bi bi-car-front me-2"></i> <span id="TXT_Auto"> </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Placa</label>
                                <input id="Input_Placa" class="form-control text-uppercase" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <label>Nombre</label>
                                <input id="Input_Nombre" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <label>Flota</label>
                                <input id="DropDown_FlotaModal" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <label>Marca</label>
                                <input id="Input_Marca" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <label>Modelo</label>
                                <input id="Input_Modelo" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <label>Kilometros por galon</label>
                                <input id="Input_KmxGal" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <label>Capacidad tanque</label>
                                <input id="Input_CapTan" class="form-control" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <label>Seleccione el tipo de Combustible</label>
                                <input id="DropDown_GasolinaModal" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Numero de VIN</label>
                                <input id="Input_VIN" class="form-control text-uppercase" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 mt-lg-1">
                                <span id="ModalAlert"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="BTN_GuardarCambios" disabled> <i class="bi bi-floppy-fill"></i> Guardar Cambios</button>
                </div>
            </div>
        </div>
    </div>
</section>
<style type="text/css">
    .k-picker {
        height:35px;
    }

    #btn_nuevaFlota {
        height: 35px;
    }
    #btn_registrar{
        margin-top: 30px;
    }

    .k-tabstrip > .k-content {
        background: #f6f9ff;
    }

    #btn_nuevaFlota{
        height: 35px;
    }

    .k-grid-Editar {
        background: #198754;
        color: white;
    }

        .k-grid-Editar:hover {
            background: #157347;
        }

    .k-grid-Eliminar {
        background: #dc3545;
        color: white;
    }

        .k-grid-Eliminar:hover {
            background: #bb2d3b;
            color: white;
        }

    .col-data {
        width: 150px;
    }
    .col-command {
        text-align: center !important;
        width: 170px;
    }

    @@media screen and (max-width: 576px) {
        .col-command {
            width: 195px;
        }
    }

    @@media (min-width: 768px) and (max-width: 991.98px) {
        /* Tus estilos aquí */
        .col-command {
            width: 195px;
        }
    }
</style>
<script>
    (function () {
        $.extend({
            tabstrip: function () {
                $("#tabstrip").kendoTabStrip({
                    animation: {
                        open: {
                            effects: "fadeIn"
                        }
                    },
                });
            },
            vehiculo: {
                DropDowns: {
                    loadDropDowns: function () {

                        var _this = this

                        $("#Drop_Gasolina").kendoDropDownList({
                            optionLabel: 'Seleccione un tipo de gasolina',
                            dataTextField: "tipoCombustible",
                            dataValueField: "combustibleMobileID",
                            theme: "black"
                        });

                        $("#Drop_Flota").kendoDropDownList({
                            filter: "contains",
                            optionLabel: 'Seleccione la flota',
                            dataTextField: "nombreSubfleet",
                            dataValueField: "subfleetID"
                        });

                        $("#DropDown_FlotaModal").kendoDropDownList({
                            filter: "contains",
                            optionLabel: 'Seleccione la flota',
                            dataTextField: "nombreSubfleet",
                            dataValueField: "subfleetID",
                            change: function () {
                                $.vehiculo.ActualizarVehiculo.activarButton()
                            }
                        });

                        $("#DropDown_GasolinaModal").kendoDropDownList({
                            optionLabel: 'Seleccione un tipo de gasolina',
                            dataTextField: "tipoCombustible",
                            dataValueField: "combustibleMobileID",
                            change: function () {
                                //console.log("Xd")
                                $.vehiculo.ActualizarVehiculo.activarButton()
                            }
                        });
                        _this.DataDropDowns()

                    },
                    DataDropDowns: function () {
                        $.get('@Url.Action("obtenerTipoCombustible", "adVehiculosFlotas")', function (GAS) {
                            $("#Drop_Gasolina").data("kendoDropDownList").dataSource.data(GAS);
                            $("#DropDown_GasolinaModal").data("kendoDropDownList").dataSource.data(GAS);
                        })

                        $.get('@Url.Action("obtenerFlotas", "adVehiculosFlotas")', function (flotas) {
                            $("#Drop_Flota").data("kendoDropDownList").dataSource.data(flotas);
                            $("#DropDown_FlotaModal").data("kendoDropDownList").dataSource.data(flotas);
                        })
                    },
                },
                GRID: {
                    /*Fecha: {
                        FechaInicio : null,
                        FechaFin: null
                    },*/
                    loadGrid: function () {
                        var _this = this;
                        $("#FechaIni").kendoDateTimePicker({
                            dateInput: true,
                            startTime: new Date(2023, 1, 3, 8, 30, 0),
                            endTime: new Date(2023, 1, 3, 17,00, 0),
                            /*change: function (event) {
                                var data = this.value()
                                _this.Fecha.FechaInicio = moment(data).format("YYYY/MM/DD HH:mm:ss")
                                //console.log(moment(data).format("YYYY/MM/DD HH:mm:ss"))
                            }*/
                        });
                        $("#FechaIni").data("kendoDateTimePicker").value(kendo.parseDate(moment().subtract(30, 'days').format("YYYY/MM/DD HH:mm:ss")));


                        $("#FechaFin").kendoDateTimePicker({
                            dateInput: true,
                            startTime: new Date(2023, 1, 3, 8, 30, 0),
                            endTime: new Date(2023, 1, 3, 17,00, 0),
                            /*change: function (event) {
                                var data = this.value()
                                _this.Fecha.FechaFin = moment(data).format("YYYY/MM/DD HH:mm:ss")
                            }*/
                        });
                        $("#FechaFin").data("kendoDateTimePicker").value(kendo.parseDate(moment().format("YYYY/MM/DD HH:mm:ss")));

                        $("#GridFlotas").html("");
                        $("#GridFlotas").kendoGrid({
                            dataSource: {
                                pageSize: 10
                            },
                            toolbar: ["excel", "search"],
                            columns: [
                                {
                                    field: "placa",
                                    title: "Placa",
                                    width: "100px",
                                    attributes: { class: "col-data" },
                                    headerAttributes: { class: "col-data" }
                                },
                                {
                                    field: "nombre",
                                    title: "Nombre",
                                    width: "100px",
                                    attributes: { class: "col-data" },
                                    headerAttributes: { class: "col-data" }
                                },
                                {
                                    field: "nombreSubfleet",
                                    title: "Flota",
                                    width: "100px",
                                    attributes: { class: "col-data" },
                                    headerAttributes: { class: "col-data" }
                                },
                                {
                                    field: "marca",
                                    title: "Marca",
                                    width: "100px",
                                    attributes: { class: "col-data" },
                                    headerAttributes: { class: "col-data" }
                                },
                                {
                                    field: "modelo",
                                    title: "Modelo",
                                    width: "100px",
                                    attributes: { class: "col-data" },
                                    headerAttributes: { class: "col-data" }
                                },
                                {
                                    field: "fechaCreacion",
                                    title: "Fecha de Creacion",
                                    width: "150px",
                                    attributes: { class: "col-data" },
                                    headerAttributes: { class: "col-data" }
                                },
                                {
                                    field: "kmXGalon",
                                    title: "Km. por Gal.",
                                    width: "100px",
                                    attributes: { class: "col-data" },
                                    headerAttributes: { class: "col-data" }
                                },
                                {
                                    field: "capacidadTanque",
                                    title: "Cap. Tanque",
                                    width: "100px",
                                    attributes: { class: "col-data" },
                                    headerAttributes: { class: "col-data" }
                                },
                                {
                                    field: "tipoCombustible",
                                    title: "Tipo Combustible",
                                    width: "100px",
                                    attributes: { class: "col-data" },
                                    headerAttributes: { class: "col-data" }
                                },
                                {
                                    field: "vin",
                                    title: "VIN",
                                    width: "100px",
                                    attributes: { class: "col-data" },
                                    headerAttributes: { class: "col-data" }
                                },
                                {
                                    command: [
                                        {
                                            name: "Editar",
                                            text: '<span> <i class="bi bi-pencil-square"></i> Editar </span>',
                                            click: function (e) {
                                                e.preventDefault();
                                                var tr = $(e.target).closest("tr");
                                                var data = this.dataItem(tr);
                                                console.log(data)
                                                $("#TXT_Auto").text(data.nombre + " - [" + data.placa + "]")

                                                $("#ModalAlert").text("")

                                                $.vehiculo.ActualizarVehiculo.dataActual.mobileID = data.mobileID

                                                $("#Input_Placa").val(data.placa)
                                                $.vehiculo.ActualizarVehiculo.dataActual.placa = data.placa

                                                $("#Input_Nombre").val(data.nombre)
                                                $.vehiculo.ActualizarVehiculo.dataActual.nombre = data.nombre

                                                $("#DropDown_FlotaModal").data("kendoDropDownList").value(data.subfleetID +"")
                                                $.vehiculo.ActualizarVehiculo.dataActual.idFlota = data.subfleetID

                                                $("#Input_Marca").val(data.marca)
                                                $.vehiculo.ActualizarVehiculo.dataActual.marca = data.marca

                                                $("#Input_Modelo").val(data.modelo)
                                                $.vehiculo.ActualizarVehiculo.dataActual.modelo = data.modelo

                                                $("#Input_KmxGal").val(extraerNumeros(data.kmXGalon))
                                                $.vehiculo.ActualizarVehiculo.dataActual.kmXGalon = extraerNumeros(data.kmXGalon)

                                                $("#Input_CapTan").val(extraerNumeros(data.capacidadTanque))
                                                $.vehiculo.ActualizarVehiculo.dataActual.capacidadTanque = extraerNumeros(data.capacidadTanque)

                                                $("#DropDown_GasolinaModal").data("kendoDropDownList").select(data.tipoCombustibleID)
                                                $.vehiculo.ActualizarVehiculo.dataActual.combustibleID = data.tipoCombustibleID

                                                $("#Input_VIN").val(data.vin)
                                                $.vehiculo.ActualizarVehiculo.dataActual.numeroVIN = data.vin

                                                function extraerNumeros(cadena) {
                                                    const regex = /-?\d+(\.\d+)?/g;
                                                    const coincidencias = cadena.match(regex);
                                                    return coincidencias[0] 
                                                }

                                                $('#editarVehiculoModal').modal('show');
                                            }
                                        },
                                        {
                                            name: "Eliminar",
                                            text: '<span> <i class="bi bi-trash3"></i> Eliminar </span>',
                                            click: function (e) {
                                                e.preventDefault();
                                                var tr = $(e.target).closest("tr");
                                                var data = this.dataItem(tr);
                                                //_this.EliminarProyecto(data.idProyectosVales, data.pep)
                                                //console.log(data.mobileID)
                                                $.vehiculo.ActualizarVehiculo.EliminarMobile(data.mobileID)
                                            }
                                        }

                                    ],
                                    attributes: { class: "col-command" },
                                    headerAttributes: { class: "col-command" },
                                }
                            ],
                            mobile: "phone",
                            pageable: true,
                            selectable: false,
                            excel: {
                                fileName: "vehiculos_" + moment().format("YYYYMMDD_HH-mm-ss") + ".xlsx"
                            }

                        });


                        /*var FechaInicio = moment($("#FechaIni").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss.SSS")
                        var FechaFin = moment($("#FechaFin").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss.SSS")*/
                        /*var FechaInicio = _this.Fecha.FechaInicio
                        var FechaFin = _this.Fecha.FechaFin*/
                        _this.DataGrid(null, null)
                    },
                    DataGrid: function (FechaIni, FechaFin) {

                        var arg = {
                            FechaIni: FechaIni,
                            FechaFin: FechaFin
                        }
                        //console.log(arg)

                        //console.log("XD")
                        $.get('@Url.Action("rpVehiculo", "adVehiculosFlotas")', arg, function (autos) {
                            for (let x = 0; x < autos.length; x++) {
                                
                                autos[x].fechaCreacion = moment(autos[x].fechaCreacion).subtract(6, "hour").format("DD/MM/YYYY HH:mm:ss")
                                autos[x].capacidadTanque = autos[x].capacidadTanque + " Gal"
                                autos[x].kmXGalon = autos[x].kmXGalon + " Km"
                                
                                
                            }
                            console.log(autos)
                            $("#GridFlotas").data("kendoGrid").dataSource.data(autos);
                        });
                    },
                    BTNGeneraGrid: function () {
                        var _this = this;
                        $("#reloadGrid").on("click", function () {
                            var FechaInicio = moment($("#FechaIni").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss.SSS")
                            var FechaFin = moment($("#FechaFin").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss.SSS")

                            _this.DataGrid(FechaInicio, FechaFin)
                        });

                    },
                },                            
                keypress: function () {
                    $('#Placa, #Input_Placa').keypress(function (event) {

                        var keyCode = event.which;

                        if (!((keyCode >= 48 && keyCode <= 57) ||
                            (keyCode >= 65 && keyCode <= 90) ||
                            (keyCode >= 97 && keyCode <= 122))) {
                            event.preventDefault();
                        }

                    });
                    $('#KmXGalon, #Input_KmxGal').keypress(function (event) {

                        var keyCode = event.which;
                        var inputValue = $(this).val();

                        if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) {
                            event.preventDefault();
                        }
                        
                        if (keyCode === 46 && inputValue.indexOf('.') !== -1) {
                            event.preventDefault();
                        }

                        if (inputValue.indexOf('.') !== -1 && inputValue.split('.')[1].length >= 2 && keyCode !== 46) {
                            event.preventDefault();
                        }

                        var valorActual = parseFloat(inputValue);
                        var tecla = parseInt(event.key)
                        //console.log(valorActual + " " + tecla)
                        if (!isNaN(valorActual) && !isNaN(tecla)) {
                            if (parseFloat(inputValue + event.key) > 5000) {
                                //console.log(valorActual + tecla)
                                event.preventDefault();
                            }
                        }

                    });
                    $('#CapacidadTanque, #Input_CapTan').keypress(function (event) {

                        var keyCode = event.which;
                        var inputValue = $(this).val();

                        if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) {
                            event.preventDefault();
                        }

                        if (keyCode === 46 && inputValue.indexOf('.') !== -1) {
                            event.preventDefault();
                        }

                        if (inputValue.indexOf('.') !== -1 && inputValue.split('.')[1].length >= 2 && keyCode !== 46) {
                            event.preventDefault();
                        }

                        var valorActual = parseFloat(inputValue);
                        var tecla = parseInt(event.key)
                        //console.log(valorActual + " " + tecla)
                        if (!isNaN(valorActual) && !isNaN(tecla)) {
                            if (parseFloat(inputValue + event.key) > 5000) {
                                //console.log(valorActual + tecla)
                                event.preventDefault();
                            }
                        }

                    });
                    $('#Vin, #Input_VIN').keypress(function (event) {

                        var keyCode = event.which;
                        var inputValue = $(this).val();
                        //console.log(inputValue)
                        if (inputValue.length > 16){
                            event.preventDefault();
                        }
                        if (!((keyCode >= 48 && keyCode <= 57) ||
                            (keyCode >= 65 && keyCode <= 90) ||
                            (keyCode >= 97 && keyCode <= 122))) {
                            event.preventDefault();
                        }
                        

                    });
                },
                validaciones: function () {
                    var placa = $("#Placa").val().trim();
                    var Nombre = $("#Nombre").val().trim();
                    var Flota = $("#Drop_Flota").data("kendoDropDownList").value()

                    if (placa === "") {
                        $.alert("Campo vacio", "Debe ingresar una placa", "warning");

                        return false;
                    }
                    if (Nombre === "") {
                        $.alert("Campo vacio", "Debe ingresar un nombre", "warning");

                        return false;
                    }
                    if (Flota ==="") {
                        $.alert("Sin seleccionar", "Debe seleccionar una flota para el vehiculo", "warning");
                        return false;
                    }
                    return true
                },
                BTN_RegistrarVehiculo: function () {
                    var _this = this;

                    $("#btn_registrar").on("click", function () {
                        var _Placa = $("#Placa").val().toUpperCase();
                        var _Nombre = $("#Nombre").val().trim();
                        var _Modelo = $("#Modelo").val().trim();
                        var _Marca = $("#Marca").val().trim();
                        var _Flota = parseInt($("#Drop_Flota").data("kendoDropDownList").value())
                        var _KilometrosXgalon = $("#KmXGalon").val();
                        var _CapacidadTanque = $("#CapacidadTanque").val();
                        var _TipoCombustible = $("#Drop_Gasolina").data("kendoDropDownList").value()
                        var _VIN = $("#Vin").val().toUpperCase();

                        if (_TipoCombustible === "") {
                            _TipoCombustible = ""
                        } else { 
                            parseInt($("#Drop_Gasolina").data("kendoDropDownList").value())
                        }

                        let arg = {
                            PlacaNew: _Placa,
                            NombreNew: _Nombre,
                            Marca: _Marca,
                            Modelo: _Modelo,
                            FlotaID: _Flota,
                            KmXGalon: _KilometrosXgalon,
                            CapacidadTanque: _CapacidadTanque,
                            TipoCombustibleID: _TipoCombustible,
                            VINNew: _VIN
                        }

                        if (_this.validaciones() === true) {
                            $.get('@Url.Action("agregarVehiculo", "adVehiculosFlotas")', arg, function (mensaje) {
                                if (mensaje[0].bandera === 1) {
                                    $.alert("Registro exitoso", mensaje[0].resultado, "success")
                                    $("#Placa").val("");
                                    $("#Nombre").val("");
                                    $("#Modelo").val("");
                                    $("#Marca").val("");
                                    $("#KmXGalon").val("");
                                    $("#CapacidadTanque").val("");
                                    $("#Vin").val("");
                                    $("#Drop_Gasolina").data("kendoDropDownList").select(0)
                                    $("#Drop_Flota").data("kendoDropDownList").select(0)

                                    var FechaInicio = moment($("#FechaIni").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss.SSS")
                                    $("#FechaFin").data("kendoDateTimePicker").value(kendo.parseDate(moment().format("YYYY/MM/DD HH:mm:ss")));

                                    var FechaFin = moment.utc().format("YYYY/MM/DD HH:mm:ss");
                                    _this.GRID.DataGrid(FechaInicio, FechaFin)
                                } else {
                                    $.alert("Error", mensaje[0].resultado, "warning")
                                }
                            });
                        }
                    });
                }, 
                ActualizarVehiculo: {
                    dataActual: {
                        mobileID: 0,
                        placa: "",
                        nombre: "",
                        idFlota: "",
                        marca: "",
                        modelo: "",
                        kmXGalon: "",
                        capacidadTanque: "",
                        combustibleID: "",
                        numeroVIN: ""
                    }, 
                    eventoInput: function () {
                        var _this = this
                        $("#Input_Placa, #Input_Nombre, #Input_Marca,#Input_Modelo,#Input_KmxGal,#Input_CapTan,#Input_VIN").on("input", function (e) {
                            _this.activarButton()
                        })
                    },
                    activarButton: function () {
                        var _this = this

                        if (_this.comparador() === true) {
                            if ($("#BTN_GuardarCambios").is(':disabled') === true) {
                                $("#BTN_GuardarCambios").attr("disabled", false)
                            }
                        } else {
                            $("#BTN_GuardarCambios").attr("disabled", true)
                        }
                    },
                    comparador: function () {
                        var _this = this
                        var Placa = $("#Input_Placa").val()
                        var Nombre = $("#Input_Nombre").val()
                        var FlotaID = $("#DropDown_FlotaModal").data("kendoDropDownList").value()
                        var Marca = $("#Input_Marca").val()
                        var Modelo = $("#Input_Modelo").val()
                        var KmxGal = $("#Input_KmxGal").val()
                        var CapTan = $("#Input_CapTan").val()

                        var CombustibleID = $("#DropDown_GasolinaModal").data("kendoDropDownList").value()
                        CombustibleID = CombustibleID !== ""? parseInt(CombustibleID) : 0
                        var VIN = $("#Input_VIN").val()

                        if (_this.dataActual.placa !== Placa) {
                            return true
                        }

                        if (_this.dataActual.nombre !== Nombre) {
                            return true
                        }
                        if (FlotaID !== "") {

                            FlotaID = parseInt(FlotaID)

                            if (_this.dataActual.idFlota !== FlotaID) {
                                return true
                            }

                        }
                        if (_this.dataActual.marca !== Marca) {
                            return true
                        }

                        if (_this.dataActual.modelo !== Modelo) {
                            return true
                        }

                        if (_this.dataActual.kmXGalon !== KmxGal) {
                            return true
                        }
                        if (_this.dataActual.capacidadTanque !== CapTan) {
                            return true
                        }
                        if (_this.dataActual.combustibleID !== CombustibleID){ 
                            return true
                        }
                        if (_this.dataActual.numeroVIN !== VIN) {
                            return true
                        }
                        
                        return false
                    },
                    validaciones: function () {
                        var _this = this 
                        var placa = $("#Input_Placa").val().trim();
                        var Nombre = $("#Input_Nombre").val().trim();
                        var Flota = $("#DropDown_FlotaModal").data("kendoDropDownList").value()

                        if (placa === "") {
                            _this.alert("alerta", "Debe ingresar una placa")
                            return false;
                        }
                        if (Nombre === "") {
                            this.alert("alerta", "Debe ingresar un nombre")

                            return false;
                        }
                        if (Flota === "") {
                            this.alert("alerta", "Debe seleccionar una flota para el vehiculo")
                            return false;
                        }
                        return true
                    },
                    BTN_ActulizarDatos: function () {
                        var _this = this
                        $("#BTN_GuardarCambios").on("click", function () {
                            //var _this = this

                            //console.log("XD")

                            var Placa = $("#Input_Placa").val().toUpperCase()
                            var Nombre = $("#Input_Nombre").val()
                            var FlotaModal = $("#DropDown_FlotaModal").val()
                            FlotaModal = parseInt(FlotaModal)
                            var Marca = $("#Input_Marca").val()
                            var Modelo = $("#Input_Modelo").val()
                            var KmxGal = $("#Input_KmxGal").val()
                            KmxGal = KmxGal === "" ? null : parseFloat(KmxGal)
                            var CapTan = $("#Input_CapTan").val()
                            CapTan = CapTan === "" ? null : parseFloat(CapTan)
                            var GasolinaModal = $("#DropDown_GasolinaModal").val()
                            GasolinaModal = GasolinaModal === "" ? null : parseInt(GasolinaModal)
                            var VIN = $("#Input_VIN").val().toUpperCase()
                            
                            var arg = {
                                MobileID : _this.dataActual.mobileID,
                                Placa: Placa,
                                Nombre: Nombre,
                                FlotaID: FlotaModal,
                                Marca: Marca,
                                Modelo: Modelo,
                                KmXGalon: KmxGal,
                                CapTan: CapTan,
                                CombustibleID: GasolinaModal,
                                NumeroVIm: VIN
                            }
                            //console.log(arg)
                            if (_this.validaciones() === true) {
                                $.post('@Url.Action("ActualizaMobile", "adVehiculosFlotas")', arg, function (mensaje) {
                                    //console.log(mensaje)
                                    mensaje = mensaje[0]
                                    if (mensaje.bandera === 1) {
                                        var FechaInicio = moment($("#FechaIni").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss.SSS")
                                        var FechaFin = moment($("#FechaFin").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss.SSS")
                                        $.vehiculo.GRID.DataGrid(FechaInicio, FechaFin)
                                        _this.alert("suceso", mensaje.resultado)
                                    } else {
                                        _this.alert("alerta", mensaje.resultado)
                                    }

                                });
                            }
                        });
                    },
                    EliminarMobile: function (_MobileID) {
                        var arg = {
                            MobileID: _MobileID
                        }
                        $.post('@Url.Action("EliminarMobile", "adVehiculosFlotas")', arg, function (mensaje) {
                            mensaje = mensaje[0]
                            if (mensaje.bandera === 1) {
                                var FechaInicio = moment($("#FechaIni").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss.SSS")
                                var FechaFin = moment($("#FechaFin").data("kendoDateTimePicker").value()).add(6, 'hours').format("YYYYMMDD HH:mm:ss.SSS")
                                $.vehiculo.GRID.DataGrid(FechaInicio, FechaFin)
                                $._combustible.alert("success", "Eliminación exitosa", mensaje.resultado)
                            }else{
                                $._combustible.alert("error", "Error", mensaje.resultado)
                                //$._combustible.alert("success", "Eliminación exitosa", mensaje.resultado)
                            }
                        })
                    },
                    alert: function (tipo, mensaje) {
                        if (tipo === "alerta") {
                            $("#ModalAlert").text("Alerta: " + mensaje)
                            $("#ModalAlert").css("color", "red")
                        }
                        if (tipo === "suceso") {
                            $("#ModalAlert").text("Nota: " + mensaje)
                            $("#ModalAlert").css("color", "green")
                        }
                    }
                }
                
            },
            flota:{
                agregarFlota: function () {
                    var _this = this

                    $("#BTN_AgregarFlota").on("click", function () {
                        var Flota = $("#Flota").val().trim()

                        if (_this.validaciones() === false) {
                            $.alert("Compo vacio", "Debe ingresar el nombre de una subflota", "warning")
                        } else {
                            $.get('@Url.Action("agregarFlota", "adVehiculosFlotas")', { SubfleetName: Flota }, function (mensaje) {
                                if (mensaje[0].bandera === 0) {
                                    $.alert("Error", mensaje[0].resultado, "warning")
                                } else {
                                    $.alert("Registro exitoso", mensaje[0].resultado, "success")
                                    $.vehiculo.DropDowns.DataDropDowns();
                                    $("#Flota").val("")
                                }
                            })
                        }

                    });
                },
                validaciones: function () {
                    var Flota = $("#Flota").val().trim()

                    //console.log(Flota)
                    if (Flota ==="") {
                        return false
                    }

                    return true
                }
            },
            flotaModal: {
                agregarFlota: function () {
                    var _this = this

                    $("#BTN_AgregarFlotaModal").on("click", function () {
                        var Flota = $("#Flota_Modal").val().trim()

                        if (_this.validaciones() === false) {
                            _this.nota("Debe ingresar el nombre de una subflota", "warning")
                        } else {
                            $.get('@Url.Action("agregarFlota", "adVehiculosFlotas")', { SubfleetName: Flota }, function (mensaje) {
                                if (mensaje[0].bandera === 0) {
                                    _this.nota(mensaje[0].resultado, "warning")
                                } else {
                                    _this.nota(mensaje[0].resultado, "success")
                                    $.vehiculo.DropDowns.DataDropDowns();
                                    $("#Flota_Modal").val("")                                   
                                }
                            })
                        }

                    });
                },
                BTN_Modal: function () { 

                    $("#btn_nuevaFlota").on("click", function () {
                        $("#nota").text("")
                        $('#flotaModal').modal('show');
                    })
                },
                validaciones: function () {
                    var Flota = $("#Flota_Modal").val().trim()

                    //console.log(Flota)
                    if (Flota === "") {
                        return false
                    }

                    return true
                },
                nota: function (mensaje, estado) {
                    var nota = $("#nota").val()

                    if (estado === "warning") {
                        $("#nota").text("Alerta: " + mensaje);
                        $("#nota").css("color", "red")
                        $("#Flota_Modal").css("border", "1px solid red");
                        $("#Flota_Modal").css("background-color", "#FCC6D3")
                    }

                    if (estado === "success") {
                        $("#nota").text("Nota: " + mensaje);
                        $("#nota").css("color", "green")
                        $("#Flota_Modal").css("border", "1px solid #ced4da");
                        $("#Flota_Modal").css("background", "#ffffff")
                    }

                },
                focus: function () {

                    $("#Flota_Modal").on("focus", function () {
                        $("#nota").text("");
                        $("#Flota_Modal").css("border", "1px solid #ced4da");
                        $("#Flota_Modal").css("background", "#ffffff")
                    })
                }
            },
            alert: function (title, text, icon) {
                Swal.fire({
                    icon: icon,
                    title: title,
                    text: text,
                });
            }, 
            init: function () {
                var _this = this;
                _this.tabstrip()
                _this.vehiculo.DropDowns.loadDropDowns();
                _this.vehiculo.GRID.loadGrid();
                _this.vehiculo.GRID.BTNGeneraGrid()
                _this.vehiculo.BTN_RegistrarVehiculo();
                _this.vehiculo.keypress();
                _this.vehiculo.ActualizarVehiculo.eventoInput();
                _this.vehiculo.ActualizarVehiculo.BTN_ActulizarDatos();
                _this.flota.agregarFlota();
                _this.flotaModal.BTN_Modal();
                _this.flotaModal.agregarFlota();
                _this.flotaModal.focus();
            }
        })
        $.init()
    })();
</script>